<!-- Ideologias e Crenças -->
<div class="col-12 col-md-6 mb-3">
    <label for="persona-ideo">Ideologias e Crenças</label>
    <textarea class="form-control" id="persona-ideo" rows="4" placeholder="No que acredita, o que te motiva..."></textarea>
</div>