<!-- Tomos e Feitiços arcanos -->
<div class="col-12 col-md-6 mb-3">
    <label for="persona-tomos">Tomos e Feitiços arcanos</label>
    <textarea class="form-control" name="historia.feiticos" id="persona-tomos" rows="4" placeholder="Com quais tomos e feitiços você foi amaldiçoado..."><%= historia?.feiticos ?? '' %></textarea>
</div>