<!-- Ferimentos e Cicatrizes -->
<div class="col-12 col-md-6 mb-3">
    <label for="persona-feri">Ferimentos e Cicatrizes</label>
    <textarea class="form-control" name="historia.ferimentos" id="persona-feri" rows="4" placeholder="Suas feridas e cicatrizes..."><%= historia?.ferimentos ?? '' %></textarea>
</div>