<!-- Fobias e Manias -->
<div class="col-12 col-md-6 mb-3">
    <label for="persona-fob">Fobias e Manias</label>
    <textarea class="form-control" name="historia.fobias" id="persona-fob" rows="4" placeholder="Suas fobias e manias..."><%= historia?.fobias ?? '' %></textarea>
</div>