<br>
    <!-- História -->
    <div class="container">
        <h3>História</h3>
        <div class="container">
            <label for="persona-hist">Minha história</label>
            <textarea class="form-control" name="historia.backstory" id="persona-hist" placeholder="Quem é você?"><%= historia?.backstory ?? '' %></textarea>
        </div>