<!-- Pertences importamtes -->
<div class="col-12 col-md-6 mb-3">
    <label for="persona-pert">Pertences importantes</label>
    <textarea class="form-control" name="historia.pertences" id="persona-pert" rows="4" placeholder="O que lhe é importante, que você se recusa a perder..."><%= historia?.pertences ?? '' %></textarea>
</div>