<!-- Pessoas significantes -->
<div class="col-12 col-md-6 mb-3">
    <label for="persona-signi">Pessoas significantes</label>
    <textarea class="form-control" name="historia.pessoas" id="persona-signi" rows="4" placeholder="Pessoas que significam algo, seja bom ou ruim..."></textarea>
</div>