<%- include('./partials/head') %>

<body class="d-flex align-items-center justify-content-center vh-100 bg-image-old-paper" style="overflow: hidden;">
    
<h1>Isso vai ser uma página mostrando uma ficha já criada pelo usuário (tipo a que tem em /criar).</h1>
<h2>Para isso, terei que implementar um sistema de id; por exemplo, essa ficha teria o id <strong> <%= id %> </strong> </h2>

<%- include('./partials/footer') %>