<%- include('./partials/head') %>

<body class="d-flex align-items-center justify-content-center vh-100 bg-image-old-paper" style="overflow: hidden;">

<h1>Isso vai ser uma página com as fichas criadas pelo usuário</h1>

<%- include('./partials/footer') %>