<!-- Economia -->
<div class="col-md-6 col-12 mb-3">
    <label for="tabela-economias">Economias</label>
    <table class="table" id="tabela-economias">
        <tr>
            <td></td>
            <th>Valor</th>
        </tr>
        <tr>
            <th>Nível de gasto</th>
            <td><input type="number" name="nivelGasto" id="nivel-gasto"></td>
        </tr>
        <tr>
            <th>Dinheiro</th>
            <td><input type="number" name="dinheiro" id="persona-din"></td>
        </tr>
        <tr>
            <th>Ativos</th>
            <td><textarea class="form-control" name="ativos" id="persona-ativ" rows="5" placeholder="Seus bens, economias, etc."></textarea></td>
        </tr>
    </table>
</div>
</div>
</div>
<br>


</div>
</div>