<!-- Notas -->
<div class="container">
    <h3>Notas</h3>
    <div class="container">
        <textarea class="form-control" name="notas" id="Notas" placeholder="Coloque aqui o que quiser!" rows="15"></textarea>
    </div>
</div>