<!-- Habilidades -->
<div class="container mt-5">
    <h3>Habilidades</h3>
    <!-- Barra de pesquisa -->
    <div class="mb-3">
        <input type="text" class="form-control" id="barra-pesquisa" placeholder="Pesquise habilidades..." oninput="PesquiseSkill()">
    </div>

    <div class="table-container">
        <table class="table" id="tabela-hab">
            <thead>
                <tr>
                    <th scope="col">Evoluir</th>
                    <th scope="col">Habilidade</th>
                    <th scope="col">Normal</th>
                    <th scope="col">Bom</th>
                    <th scope="col">Extremo</th>
                </tr>
            </thead>
            <tbody>
                <!-- As habilidades são adicionadas aqui por meio de javascript, com a função CarregarSkills() -->
            </tbody>
        </table>

    </div>

</div>