/*Margem para o final da página*/
body {
    margin-bottom: 15px;
}

/*tamanho do input das tabelas*/
.table{
    text-align: center;
    border-collapse: collapse;
}

.table th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.table input {
    text-align: center;
    width: 50px;
}

/*Tamanho da tabela de sanidade máxima*/
#max-san-display {
    width: 50px;
}

/*Tabela de habilidades*/
.table-container {
    max-height: 300px;
    overflow-y: auto; 
    margin-bottom: 10px;
}

/*Textarea de minha história*/
#persona-hist {
    width: 100%;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 50px;
}

