<!-- Combate -->
<div class="container">
    <br>
    <h3>Combate</h3>
    <div class="row">
        <div class="col-12"> 
            <div class="table-responsive">
                <table class="table" id="tabela-comb">
                    <thead>
                        <tr>
                            <th scope="col">Arma</th>
                            <th scope="col">Normal</th>
                            <th scope="col">Bom</th>
                            <th scope="col">Extremo</th>
                            <th scope="col">Dano</th>
                            <th scope="col">Ataques</th>
                            <th scope="col">Alcance</th>
                            <th scope="col">Pente</th>
                            <th scope="col">Falha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Briga (Luta)</td>
                            <td id="briga-normal"></td>
                            <td id="briga-bom"></td>
                            <td id="briga-extremo"></td>
                            <td>1D3 + DB</td>
                            <td>1</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><textarea name="combate.arma1.nome" class="arma-textarea"></textarea></td>
                            <td><input type="number" name="combate.arma1.valor" id="normal-arma1" min="0"></td>
                            <td id="bom-arma1" min="0"></td>
                            <td id="extremo-arma1" min="0"></td>
                            <td><textarea name="combate.arma1.dano" id="dano-arma1" class="arma-textarea"></textarea></td>
                            <td><input type="number" name="combate.arma1.ataques" id="arma1-ats" min="0"></td>
                            <td><input type="number" name="combate.arma1.alcance" id="arma1-alc" min="0"></td>
                            <td><input type="number" name="combate.arma1.pente" id="arma1-pente" min="0"></td>
                            <td><input type="number" name="combate.arma1.falha" id="arma1-falha" min="0"></td>
                        </tr>
                        <tr>
                            <td><textarea name="combate.arma2.nome" class="arma-textarea"></textarea></td>
                            <td><input type="number" name="combate.arma2.valor" id="normal-arma2" min="0"></td>
                            <td id="bom-arma2" min="0"></td>
                            <td id="extremo-arma2" min="0"></td>
                            <td><textarea name="combate.arma2.dano" id="dano-arma2" class="arma-textarea"></textarea></td>
                            <td><input type="number" name="combate.arma2.ataques" id="arma2-ats" min="0"></td>
                            <td><input type="number" name="combate.arma2.alcance" id="arma2-alc" min="0"></td>
                            <td><input type="number" name="combate.arma2.pente" id="arma2-pente" min="0"></td>
                            <td><input type="number" name="combate.arma2.falha" id="arma2-falha" min="0"></td>
                        </tr>
                        <tr>
                            <td><textarea name="combate.arma3.nome" class="arma-textarea"></textarea></td>
                            <td><input type="number" name="combate.arma3.valor" id="normal-arma3" min="0"></td>
                            <td id="bom-arma3" min="0"></td>
                            <td id="extremo-arma3" min="0"></td>
                            <td><textarea name="combate.arma3.dano" id="dano-arma3" class="arma-textarea"></textarea></td>
                            <td><input type="number" name="combate.arma3.ataques" id="arma3-ats" min="0"></td>
                            <td><input type="number" name="combate.arma3.alcance" id="arma3-alc" min="0"></td>
                            <td><input type="number" name="combate.arma3.pente" id="arma3-pente" min="0"></td>
                            <td><input type="number" name="combate.arma3.falha" id="arma3-falha" min="0"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>