<div class="row">
    <div class="col-md-6 col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Atributo</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>MOV</th>
                    <td id="mov-display"></td>
                </tr>
                <tr>
                    <th>Porte</th>
                    <td id="porte"></td>
                </tr>
                <tr>
                    <th>Dano Bônus</th>
                    <td id="dano-bonus"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Habilidade</th>
                    <th>Normal</th>
                    <th>Bom</th>
                    <th>Extremo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Esquiva</td>
                    <td id="esquiva-normal"></td>
                    <td id="esquiva-bom"></td>
                    <td id="esquiva-extremo"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>