<br>

<div class="row">

    <br>
    <h3>Características</h3>

    <div class="col 12 col-md-6">

        <table class="table">
            <thead>
                <tr>
                    <th>Atributo</th>
                    <th>Normal</th>
                    <th>Bom</th>
                    <th>Extremo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>FOR</td>
                    <td> <input type="number" placeholder="50" min="0" oninput="AtualizaAtributo(this)" id="valor-for"> </th>
                        <td class="valor-bom"></td>
                        <td class=valor-extremo></td>
                </tr>
                <tr>
                    <td>CON</td>
                    <td> <input type="number" placeholder="50" min="0" oninput="AtualizaAtributo(this); CalculaHpMax()" id="valor-con"> </td>
                    <td class="valor-bom"></td>
                    <td class=valor-extremo></td>
                </tr>
                <tr>
                    <td>DES</td>
                    <td> <input type="number" placeholder="50" min="0" oninput="AtualizaAtributo(this)" id="valor-des"> </td>
                    <td class="valor-bom"></td>
                    <td class=valor-extremo></td>
                </tr>
                <tr>
                    <td>INT</td>
                    <td> <input type="number" placeholder="50" min="0" oninput="AtualizaAtributo(this)" id="valor-int"> </td>
                    <td class="valor-bom"></td>
                    <td class=valor-extremo></td>
                </tr>
                <tr>
                    <td>TAM</td>
                    <td> <input type="number" placeholder="50" min="0" oninput="AtualizaAtributo(this); CalculaHpMax()" id="valor-tam"> </td>
                    <td class="valor-bom"></td>
                    <td class=valor-extremo></td>
                </tr>
                <tr>
                    <td>POD</td>
                    <td> <input type="number" placeholder="50" min="0" oninput="AtualizaAtributo(this); CalculaMpMax()" id="valor-pod"> </td>
                    <td class="valor-bom"></td>
                    <td class=valor-extremo></td>
                </tr>
                <tr>
                    <td>APA</td>
                    <td> <input type="number" placeholder="50" min="0" oninput="AtualizaAtributo(this)" id="valor-apa"> </td>
                    <td class="valor-bom"></td>
                    <td class=valor-extremo></td>
                </tr>
                <tr>
                    <td>EDU</td>
                    <td> <input type="number" placeholder="50" min="0" oninput="AtualizaAtributo(this)" id="valor-edu"> </td>
                    <td class="valor-bom"></td>
                    <td class=valor-extremo></td>
                </tr>
            </tbody>

        </table>

    </div>