<!--Tabelas com outras características-->
<div class="col-12 col-md-6">

    <!--HP-->
    <table class="table">
        <tr>
            <td> </td>
            <th>Máximos</th>
            <th>Atuais</th>
        </tr>
        <tr>
            <td>HP</td>
            <td class="hp-max"></td>
            <td> <input type="number" id="hp-atual" min="0" oninput="VerificaHp()"> </td>
        </tr>
    </table>
    <!--MP-->
    <table class="table">
        <tr>
            <td> </td>
            <th>Máximos</th>
            <th>Atuais</th>
        </tr>
        <tr>
            <td>MP</td>
            <td class="mp-max"></td>
            <td> <input type="number" id="mp-atual" min="0" oninput="VerificaMp()"> </td>
        </tr>
    </table>
    <!--Sorte-->
    <table class="table">
        <tr>
            <td> </td>
            <th>Inicial</th>
            <th>Atual</th>
        </tr>
        <tr>
            <td>Sorte</td>
            <td> <input type="number" id="sorte-ini" min="0" placeholder="50"> </td>
            <td> <input type="number" id="sorte-atual" min="0" placeholder="50"> </td>
        </tr>
    </table>
    <!--Sanidade-->
    <table class="table">
        <tr>
            <td> </td>
            <th>Inicial</th>
            <th>Atual</th>
            <th>Insanidade</th>
        </tr>
        <tr>
            <td>Sanidade</td>
            <td> <input type="number" id="san-ini" min="0" placeholder="50"> </td>
            <td> <input type="number" id="san-atual" min="0" placeholder="50" oninput="CalculaSanMax(); CalculaInsanidade(); VerificaSan()"> </td>
            <td class="insan"></td>
        </tr>
    </table>
</div>
</div>
</div>