<!-- Estados e sanidade -->
<div class="container">
    <div class="row d-flex flex-column flex-md-row">

        <!-- Sanidade Máxima -->
        <div class="col-12 col-md-2 text-center d-flex align-items-center justify-content-center mb-3 mb-md-0">
            <label for="san-max-display" class="me-2">Sanidade Máxima</label>
            <table class="table mb-0" id="san-max-display">
                <tr>
                    <td id="san-max"></td>
                </tr>
            </table>
        </div>

        <!-- Insanidade Temporária -->
        <div class="col-12 col-md-2 text-center d-flex align-items-center justify-content-center mb-3 mb-md-0">
            <label for="insan-temp-display" class="me-2">Insanidade Temporária</label>
            <input type="checkbox" id="insan-temp-display">
        </div>

        <!-- Insanidade Indefinida -->
        <div class="col-12 col-md-2 text-center d-flex align-items-center justify-content-center mb-3 mb-md-0">
            <label for="insan-indef-display" class="me-2">Insanidade Indefinida</label>
            <input type="checkbox" id="insan-indef-display">
        </div>

        <!-- Lesão Grave -->
        <div class="col-12 col-md-2 text-center d-flex align-items-center justify-content-center mb-3 mb-md-0">
            <label for="lesao-grave-display" class="me-2">Lesão Grave</label>
            <input type="checkbox" id="lesao-grave-display">
        </div>

        <!-- Inconsciente -->
        <div class="col-12 col-md-2 text-center d-flex align-items-center justify-content-center mb-3 mb-md-0">
            <label for="incons-display" class="me-2">Inconsciente</label>
            <input type="checkbox" id="incons-display">
        </div>

        <!-- Morrendo -->
        <div class="col-12 col-md-2 text-center d-flex align-items-center justify-content-center">
            <label for="dying-display" class="me-2">Morrendo</label>
            <input type="checkbox" id="dying-display">
        </div>
    </div>
</div>